In [2]:
Mark = []
for i in range(0,5):
    inputMark=int(input("Enter the Mark:"))
    Mark.append(inputMark)    

Total = int(sum(Mark)/5)
Total

Enter the Mark:90
Enter the Mark:80
Enter the Mark:70
Enter the Mark:60
Enter the Mark:50

70

In [3]:
if Total >= 90 and Total <= 100:
    print("Grade A")
elif Total >= 70 and Total < 90:
    print("Grade B")
else:
    print("Grade c")

Grade B

In [4]:
###Classwork 2 - Write a python program to find those numbers which are divisible by 7 and multiple of 5 between 1500 and 2700 (both included)

In [10]:
Numbers = []

In [13]:
for i in range(1500,2701):
    if (i%7 == 0 and i%5 == 0) :
        Numbers.append(i)

In [14]:
Numbers

[1505,
 1540,
 1575,
 1610,
 1645,
 1680,
 1715,
 1750,
 1785,
 1820,
 1855,
 1890,
 1925,
 1960,
 1995,
 2030,
 2065,
 2100,
 2135,
 2170,
 2205,
 2240,
 2275,
 2310,
 2345,
 2380,
 2415,
 2450,
 2485,
 2520,
 2555,
 2590,
 2625,
 2660,
 2695]

In [62]:
def FindMaxm(a,b,c):
    print (max(a,b,c))
           
FindMaxm(1,2,3)

3

In [2]:
a = "*"
list1 =[]
for i in range(1,6):
    if(i <= 5):
        print(i*'*')
        list1.append(i*'*')
list1.sort(reverse = True)   
for i in list1:
    print(i)

*
**
***
****
*****
*****
****
***
**
*

In [10]:
4+4

8

In [12]:
def FindMaxm(a,b,c):
    d = max(a,b,c)
    return d

In [13]:
FindMaxm(100,200,300)

300

In [20]:
##Find factorial: 
def factorial(a):
    if a == 1:
        return a
    else:
        d = (a*factorial(a-1))
        return d

In [22]:
factorial(5)

120